.contact-container {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Add max-width to control the width */
  margin: 0 auto 40px; /* Center align the container */
}

.contact-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.contact-form button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
