.home-container {
  margin: 0;
  padding: 20px 0; /* Keeps padding at the top and bottom, removes it from the sides */
}

.home-title {
  font-size: 3em;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-info-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-info-paragraph {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

.home-service-preview,
#about,
#contact {
  margin-top: 40px;
}
