.footer-container {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-info p {
  margin: 10px 0;
  font-size: 1.2em;
}

.footer-info a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-info a.active {
  color: #f00; /* Red for active links */
}

.footer-info a:hover {
  color: #0f0; /* Green for hover */
}

/* .footer-quick-links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-quick-links a.active {
  color: #f00;
}

.footer-quick-links a:hover {
  color: #0f0;
}

.footer-info svg {
  font-size: 1.5em;
} */

.footer-info {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  gap: 10px;
  text-align: left;
  align-items: center;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 0.9em;
}

@media (man-width: 768px) {

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }

  .footer-info {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  */
    /*Adjust columns for larger screens */
    gap: 5px;
  }

  .footer-info p {
    font-size: 1em;
  }
}